.donate {
  height: 1333px;
  background: linear-gradient(
      315.75deg,
      rgba(254, 210, 144, 0.7) 30.06%,
      #febdab 100.95%,
      rgba(254, 210, 144, 0.7) 106.36%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );
}

.donate__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: white;
  padding-top: 30px;
  width: 500px;
}

.donate__text {
  color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  padding-top: 20px;
  padding-bottom: 40px;
}

.donate__second-title {
  padding-bottom: 30px;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: #fe9013;
}

.donate__friends {
  height: 940px;
  background: rgba(255, 255, 255, 0.52);
  backdrop-filter: blur(2px);
  padding: 0 30px;
  border-radius: 20px;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 15px;
}
a {
  text-decoration: none;
  color: inherit;
}
.header {
  background-image: url("./images/headerbg.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.burger {
  display: none;
  cursor: pointer;

  justify-content: center;
  flex-direction: column;
  padding: 0;
  border: 0;

  width: 40px;
  height: 40px;

  background-color: #000000;
  outline: none;
  margin-left: auto;
  z-index: 10;
}

.burger-line {
  position: relative;
  width: 100%;
  height: 1px;
  background-color: white;
  transition: 0.3s;
  z-index: 10;
}

.nav-burger {
  display: none;
  z-index: 9;
}

.burger-line:first-child {
  top: 1px;
  transform: translateY(-12px);
}

.burger-line:last-child {
  bottom: 1px;
  transform: translateY(12px);
}

.burger.open .burger-line:first-child {
  transform: rotate(45deg);
  background-color: black;
}

.burger.open {
  background-color: white;
}

.burger.open .burger-line:last-child {
  transform: rotate(-45deg);
  background-color: black;
}

.burger.open .burger-line:nth-child(2) {
  opacity: 0;
}

.nav__burger-all {
  transform: translatey(-890px);
  transition: 0.3s;
}

.nav-burger.nav-open .nav__burger-all {
  transform: translatey(0);
}

.header__logo {
  cursor: pointer;
  width: 82px;
  height: 52px;
}
.header__top {
  background-color: #000000;
  color: #fff;
}

.header__nav {
  display: flex;
}

.header__nav-link {
  width: 100px;
  color: #fff;

  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  transition: 0.3s;
}

.header__nav-link:first-child {
  margin-left: 63px;
}

.header__nav-link:hover {
  color: #f9804b;
}

.header__text {
  transition: 0.3s;
}

.header__text:hover {
  color: #f9804b;
}

.header__text {
  margin-left: 29.7vh;
}

.header_text-item {
  width: 100px;
}

.header__top-items {
  display: flex;

  align-items: center;
  height: 80px;
  color: #fff;
}

.lower__circle {
  width: 465px;
  height: 465px;
  z-index: 1;
  background-image: url(./images/HeaderCircl.svg);
  margin-left: auto;
  margin-right: 11.5vh;
  order: 2;
  margin-top: 12px;
}

.lower__text-item {
  position: relative;
  font-weight: 700;
  font-size: 106.496px;
  line-height: 75%;
  color: #fff;
  width: 500px;
  height: 400px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 86px;
  left: calc(50% - 500.31px / 2 + 330.15px);
  z-index: 2;
}

.lower__text-item span {
  color: #ffee2e;
}

.header__lower-btn {
  position: relative;
  background: #f9804b;
  text-transform: uppercase;
  height: 54px;
  width: 298px;
  outline: none;
  border: 0px solid transparent;
  border-radius: 25px;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  left: calc(50% - 298px / 2 + 332px);
  top: 60px;
  transition: 0.3s;
  cursor: pointer;
}

.header__lower-btn:hover {
  background: #e47209;
}

.header__lower-btn:active {
  background: #4b9200;
}

.header__lower-btn:disabled {
  background: #767474;
}

.img__and__text-lower {
  display: flex;
}

.footer__logo-text {
  display: none;
}

.footer__logo-img-2 {
  display: none;
}

.footer {
  background: #111115;
  color: #fff;
}
.footer__nav {
  padding-right: 129px;
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
}
.footer__sub {
  height: 20px;
}

.footer__links-items-1 {
  display: none;
}

.footer__info {
  display: flex;
  justify-content: right;
  margin-top: -17px;
}

.footer__form {
  padding-left: 10px;
  padding-top: 2px;
  width: 228px;
  height: 42px;
  text-align: left;
  border: 1px solid orangered;
  border-radius: 2px;
  transition: 0.3s;
  color: #bdbdbd;
  background-color: #111115;
  outline: none;
}

.footer__form::miss .footer__form:hover {
  border: 1px solid green;
}
.footer__button {
  height: 42px;
  width: 129px;
  margin-left: 10px;
  border-radius: 3px;
  border: 1px solid green;
  color: green;
  cursor: pointer;
  transition: 0.3s;
}

.footer__button:hover {
  border: 1px solid orangered;
}

.donate__btn {
  width: 298px;
  height: 54px;
  background: #f9804b;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: white;
  margin-top: 34px;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  border: none;
  transition: 0.3s;
}

.donate__btn:hover {
  background: #e47209;
}

.donate__btn:active {
  background: #4b9200;
}

.donate__btn:disabled {
  background: #767474;
}

.footer__links-items {
  font-family: "Roboto";
  display: grid;
  margin-top: 46px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  margin-left: 22px;
  cursor: pointer;
}

.footer__nav-low {
  display: flex;
  justify-content: space-between;
  padding-bottom: 26px;
}

.footer__links-item {
  padding-bottom: 4px;
}

.footer__links-item-1 {
  padding-bottom: -16px;
}

.footer__menu {
  max-width: 362px;
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  transition: 0.3s;
  bottom: -144px;
}

.footer__menu-link {
  margin-left: 58px;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
  bottom: -160px;
}

.footer__menu-link:hover {
  color: #f9804b;
}

.footer__menu-link:first-child {
  margin-left: -58px;
}

.footer__nav-text-item {
  font-weight: 100;
  font-size: 16px;
  line-height: 130%;
}

.footer__nav-text-item {
  position: relative;
  opacity: 0.5;
  top: 129px;
}

.footer__nav-text-item:last-child {
  padding-top: 10px;
}

.footer__links-item-4::before {
  content: url(./images/facebook.svg);
  position: relative;
  top: 6px;
  right: 22px;
}
.footer__links-item-3::before {
  content: url(./images/twitter.svg);
  position: relative;
  top: 6px;
  right: 22px;
}
.footer__links-item-2::before {
  content: url(./images/instagram.svg);
  position: relative;
  top: 6px;
  right: 22px;
}
.footer__links-item-1::before {
  content: url(./images/youtube.svg);
  position: relative;
  top: 6px;
  right: 22px;
}

@media screen and (max-width: 1535px) {
  .header__text {
    margin-left: 14.7vh;
  }
}

@media screen and (max-width: 1340px) {
  .header__text {
    margin-left: 9.7vh;
  }
}

@media screen and (max-width: 1220px) {
  .container {
    max-width: 1050px;
  }
  .lower__circle {
    position: relative;
    top: -48px;
    scale: 0.789;
  }

  .header__lower-btn {
    left: calc(50% - 298px / 2 + 214px);
  }

  .lower__text-item {
    bottom: 25px;
    left: calc(50% - 400.25px / 2 + 250.12px);
    width: 400.25px;
    height: 320px;
    font-weight: 700;
    font-size: 85px;
    line-height: 75%;
  }

  .header {
    background-position: 60%;
  }
}

@media screen and (max-width: 1065px) {
  .container {
    max-width: 900px;
  }

  .footer__menu {
    position: relative;
    bottom: -6px;
  }
  .footer__nav-text-item {
    padding-top: 7px;
  }

  .lower__circle {
    scale: 0.7;
    right: 30px;
  }

  .lower__text-item {
    scale: 0.8;
    left: 450px;
  }

  .header__lower-btn {
    left: 470px;
  }
}

@media screen and (max-width: 950px) {
  .container {
    max-width: 800px;
  }

  .header__nav-link {
    font-size: 14px;
    margin-left: 2px;
  }

  .header__text {
    margin-left: 20px;
    font-size: 14px;
  }

  .footer__menu-link {
    margin-left: 20px;
  }
}

@media screen and (max-width: 840px) {
  .lower__text-item {
    scale: 0.75;
    left: 430px;
  }

  .header__nav {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
  }

  .nav-burger {
    display: flex;
    position: relative;
  }

  .burger__logo-link {
    position: relative;
    right: 36px;
    scale: 1.5;
  }

  .nav__burger-all {
    position: absolute;
    padding-top: 13px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    font-style: normal;
    background-color: #fff;
    height: 100vh;
    width: 100%;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .header__nav-link {
    margin-top: 15px;
    color: black;
    font-size: 20px;
    width: 140px;
  }

  .footer__links-items-1 {
    display: block;
  }

  .footer__links-items-1 {
    position: relative;
  }

  .footer__links-item-media {
    margin-right: 5px;
    position: absolute;
    right: 0;
  }

  .footer__links-item-media-1 {
    bottom: 34px;
  }

  .footer__links-item-media-2 {
    bottom: -12px;
  }

  .footer__links-item-media-3 {
    bottom: -58px;
  }

  .footer__links-item-media-4 {
    bottom: -104px;
  }

  .footer__nav {
    padding-top: 12px;
  }

  .lower__circle {
    scale: 0.6;
  }

  .burger {
    display: flex;
  }

  .header__nav {
    display: none;
  }

  .header__text {
    display: none;
  }

  .footer__nav-low {
    padding-bottom: 0px;
  }

  .footer__links {
    display: none;
  }

  .footer__menu {
    margin-left: 64px;
  }

  .footer__menu-link {
    bottom: -100px;
  }

  .footer__nav-text-item {
    top: 70px;
  }

  .footer__form {
    display: none;
  }

  .footer__sub {
    display: none;
  }
  .footer__button {
    display: none;
  }

  .footer {
    height: 282px;
  }
}

@media screen and (max-width: 780px) {
  .container {
    max-width: 690px;
  }

  

  .header__lower-btn {
    left: 0;
  }

  
  .header {
    background-position: 40%;
  }

  
  .lower__circle {
    scale: 0.5;
    left: -100px;
  }

  .lower__text-item {
    scale: 0.7;
    left: 370px;
    top: 0;
  }
}

@media screen and (max-width: 745px) {
  .container {
    max-width: 600px;
  }

  .lower__circle {
    scale: 0.45;
    left: -210px;
    top: -100px;
  }

  .lower__text-item {
    left: 270px;
    top: -80px;
    scale: 0.5;
  }

  

}

@media screen and (max-width: 590px) {
  .container {
    max-width: 500px;
  }

 
  .lower__circle {
    scale: 0.4;
    left: -260px;
    top: -110px;
  }

  .lower__text-item {
    scale: 0.45;
    left: 200px;
  }

  .footer__logo-img {
    display: none;
  }
  .footer__logo-img-2 {
    display: block;
    position: absolute;
    right: 55px;
  }

  .footer__links-items-1 {
    display: flex;
  }

  .footer__links-item-media {
    position: relative;
    top: 0;
    margin: 0 auto;
    margin-left: 27px;
    margin-top: 30px;
  }

  .donate__btn {
    margin-top: 45px;
    margin-left: 77px;
  }

  .footer__logo-text {
    display: block;
    font-weight: 200;
  }

  .footer {
    height: 334px;
  }

  .footer__menu {
    width: 400px;
    position: relative;
    display: flex;
    font-size: 16px;
    height: 20px;

    left: 90px;
  }

  .footer__menu-link-1 {
    width: 100px;
  }

  
  .second__footer-logo {
    position: relative;
    display: flex;
    margin-left: 145px;
    padding-right: 0;
  }

  .footer__nav {
    padding-right: 0;
  }

  .footer__nav-text-item {
    margin-top: 10px;
    top: 0;
    right: 124px;
    width: 214px;
    font-size: 15px;
  }

  .footer__nav-text-item:last-child {
    margin-top: 0px;
  }
}

@media screen and (max-width: 500px) {
  .container {
    max-width: 400px;
  }

  .footer__nav-text-item {
    width: 100%;
    display: block;
  }

  .footer__nav-text {
    width: 100px;
  }

  .lower__circle {
    scale: 0.3;
    left: -330px;
    top: -110px;
  }

  .lower__text-item {
    scale: 0.35;
    left: 120px;
  }

 

  .second__footer-logo {
    margin-left: 100px;
  }

  .donate__btn {
    margin-left: 37px;
  }
  .footer__menu {
    width: 400px;
    position: relative;
    display: flex;
    font-size: 16px;
    height: 20px;

    left: 54px;
  }
  .footer__nav-text-item {
    margin-top: 10px;
    top: 0;
    right: 160px;
    width: 300px;
  }


}

@media screen and (max-width: 460px) {
  .footer__nav-text-item {
    width: 250px;
  }
}

@media screen and (max-width: 400px) {
  

  .lower__circle {
    scale: 0.25;
  }

  .lower__text-item {
    scale: 0.3;
  }

  .footer__nav-text-item {
    width: 200px;
    font-size: 14px;
    margin-left: 20px;
  }

  .footer__nav-text {
    width: 70px;
  }

  .lower__circle {
    scale: 0.2;
    left: -355px;
  }

  .lower__text-item {
    scale: 0.2;
    top: -100px;
    left: 90px;
  }

  

  .donate__btn {
    scale: 0.9;
  }

  .header__lower-btn {
    scale: 0.8;
  }

  .friends__card-text-2 {
    position: absolute;
    top: 130px;
    left: 220px;
  }

  .friends__card-text-1 {
    left: -80px;
  }

  .friends__cards-text {
    top: 120px;
    position: relative;
  }
}

@media screen and (max-width: 360px) {


  .friends__card-text {
    top: 120px;
  }

  .friends__button {
    margin-left: 14px;
  }

  .donate__btn {
    position: relative;
    right: 26px;
  }

  .footer__nav-text-item {
    right: 220px;
  }

  .feedback {
    margin-left: 14px;
  }

  .footer__menu-link {
    margin-left: 10px;
  }

  .animals__btn {
    margin-right: 14px;
  }

  .lower__circle {
    margin-right: -250px;
    left: -370px;
  }

  .lower__text-item {
    left: 70px;
  }

  .footer__nav-text {
    width: 30px;
  }

  .card-fr {
    margin-top: 162px;
  }

  .card-arr-1 {
    margin-top: 50px;
  }

  .friends__card-text {
    margin-top: 77px;
    right: -99px;
  }

  .friends__cards-text {
    top: 74px;
  }

  .friends__card-text-2 {
    top: 152px;
  }

  .friends__second-title {
    font-size: 16px;
  }

  .friends__button {
    margin-top: 250px;
    margin-left: 0;
  }

  .donate__btn {
    margin-left: 30px;
  }

  .friends__cards-text {
    position: relative;
  }

  .footer__links-items-1 {
    margin: auto;
  }
}

@media screen and (max-height: 750px) {
  .header__lower-btn {
    top: 0;
  }
}

@media screen and (max-height: 670px) {
  .header__lower-btn {
    top: -51px;
    left: 0;
  }
}
@media screen and (max-height: 570px) {
  .header__lower-btn {
    top: -150px;
  }
}
